<nav class="head navbar navbar-light bg-ligh">
    <div class="navbar-brand">list-emoji works!</div>
    <div class="find_block form-inline"> <input class="form-control" type="text" placeholder="Find">
        <div class="btn btn-outline-secondary "><svg class="bi bi-search" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12.442 12.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z" clip-rule="evenodd"></path>
            <path fill-rule="evenodd" d="M8.5 14a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM15 8.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z" clip-rule="evenodd"></path>
          </svg></div>
    </div>
</nav>
<div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Ссылка</th>
            <th scope="col">Превью</th>
            <th scope="col">Действия</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emoji of listEmoji; index as productId">
            <td>{{emoji.key}}</td>
            <td><a href="emoji.url">{{emoji.url}}</a></td>
            <td><img src="emoji.url" alt=""></td>
            <td><div class="btn-favorite"></div>
                <div class="btn-delete"></div>
            </td>
        </tr>
        
    </tbody>
</table>
</div>