<nav class="head navbar navbar-light bg-ligh">
    <div class="navbar-brand">{{title}}</div>
    <div class="find_block form-inline"> <input class="form-control" type="text" placeholder="Find" [(ngModel)]="searchQuery"  #box  (keyup.enter)="runFind()">
        <div class="btn btn-outline-secondary " (click)="runFind()">
                <i class="material-icons">search</i>
           </div>
    </div>
</nav>
<div>
     

    
<table class="table" *ngIf="isLoad; else Loading">
    <thead>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Ссылка</th>
            <th scope="col">Превью</th>
            <th scope="col">Действия</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emoji of listEmoji; index as productId">
            <td>{{emoji.key}}</td>
            <td><a [attr.href]="emoji.url">{{emoji.url}}</a></td>
            <td><div class="box_preview_emoji"><img class="preview_emoji"[attr.src]="emoji.url" alt=""><div class="popup_preview_emoji"><img [attr.src]="emoji.url" alt=""></div></div></td>
            <td>
            <div class="btn-group" role="group">
                <div *ngIf="(emoji.status != EmojiStatus.deleted);" class="btn btn-outline-success"  (click)="setStatusEmoji(emoji,EmojiStatus.favorite)"><i class="material-icons" >{{emoji.status == EmojiStatus.favorite?'star':'star_border'}}</i></div>
                <div class="btn btn-outline-danger" (click)=" setStatusEmoji(emoji,(emoji.status == EmojiStatus.deleted)?EmojiStatus.default:EmojiStatus.deleted) "><i class="material-icons" >{{emoji.status == EmojiStatus.deleted?'restore_from_trash':'delete_outline'}}</i></div>
            </div>
            </td>
        </tr>
        
    </tbody>
</table>
<ng-template #Loading><div class='loading'>Идёт загрузка....</div></ng-template>
</div>