.base-container
{
    display:inline-block;

    &.left-container
    {     width: 250px;
        padding: 10px;
        margin-right: 10px;
        border-radius: 0 10px 10px 0;
        box-shadow: #000000c7 0 0px 7px 1px;
        top: 10px;
        position: relative;
    }
    &.right-container
    {
        width: calc(100vw - 280px);
    }
}